body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}
/* } ......................navebar start................. */  

.main{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)),url("pic/cover/cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
.navber{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    background-image: linear-gradient(to left,tomato, orange,tomato);
  
}

.food-master{ 
    font-size: 30px;
    font-weight: 700;
    color:white; 
    
}
#foodtext{
    font-size: 15px;
}


.manu1 ul li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    padding-right: 15px;
   
}
.manu1 ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 25px;
}
.manu1 ul li::after{
    content: " ";
    width: 0;
    background-color:greenyellow; 
    height: 0px;
    display: block;
    margin: auto;
    transition: .5s;

}
.manu1 ul li:hover::after{
    width: 100%;
    height: 2px;


}


/* ..............section 1 start............. */

.cover-pages{
    width: 80%;
    margin: 100px 35px;

   

}
.texth1-sce2{
    font-size: 35px;
    color: beige;
    font-weight: 400;

}
.piazza{
    padding: 15px;
    font-size: 37px;
    font-weight: 700;
    color: cyan;

}
h3{
    font-size: 20px;
    font-weight: 400;
    color: yellowgreen;
}
p{
    color: yellow;
    font-size: 18px;
}
.prize-order{
    margin-top: 50px;
}


.batton1{
    text-decoration: none;
    margin: 10px 40px 0 0;
    padding: 10px 20px 10px 20px;
    background-color: yellowgreen;
    border-radius: 15px;
    background-image: linear-gradient(to left top,yellowgreen,cyan);
}
#money{
    color:chartreuse; 
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    margin-top: 30px;
}


/* .............3rd section start........ */


.require1{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(17, 2, 2, 0.52),rgba(17, 2, 2, 0.52)) ,url("pic/shapes/7.png");
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.cover-pages2{
    flex-basis: 50%;
    align-items: center;
    float: left;
    margin-top: 150px;
    padding-left: 50px;
}

#photo{
    margin-top: 150px;
    padding-left: 120px;
    flex-basis: 50%;
    align-items: center;
    float: left;
    
}
img{
    width: 450px;
    height: 450px;
}

/* ...............4rd section............... */


.require2{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(17, 2, 2, 0.52), 
    rgba(17, 2, 2, 0.52)) 
    ,url("pic/food/Project\ Cover3.png");
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.batton2{
    text-decoration: none;
    margin: 50px 0px 0 0;
    padding: 10px 20px 10px 20px;
    background-color: yellowgreen;
    border-radius: 15px;
    background-image: linear-gradient(to left top,yellowgreen,cyan);

}

#needpadding{
    padding-bottom: 60px;
}

/* .....................section 5 start....................... */


.recipey-text{
    width: 100%;
    height: 30vh;
    text-align: center;
    background-image:linear-gradient(rgba(17, 2, 2, 0.20),
    rgba(17, 2, 2, 0.20)) ;
    padding-top: 40px;

}


.require3{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(17, 2, 2, 0.20),
    rgba(17, 2, 2, 0.20)) ;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.cooking{
    
    
    border-radius: 25px;
    margin:50px 10px 0px 50px ;
    width:28%;
    box-shadow: 12px 12px 12px 0 gray;
    height: 80vh;
    margin-top: 100px;

}

.cook1{
    width: 80%;
    height: 60%;
    margin: 40px 0 0 40px;
    border-radius: 25px;
    background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),
    url("pic/food/projectCover1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cook2{
    width: 80%;
    height: 60%;
 
    margin: 40px 0 0 40px;
    border-radius: 25px;
    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)),
    url("pic/food/Project\ Cover8.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cook3{
    width: 80%;
    height: 60%;
 
    margin: 40px 0 0 40px;
    border-radius: 25px;
    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)),
    url("pic/food/project9.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

#need{
    font-size: 20px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    padding: 20px 10px 0px 10px;
}


#need1{
    font-size: 20px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
   
}





/* ................... section 6....................... */


.booking{
    display: flex;
    width: 100%;
    height: 100vh;
}



.photo1{
width: 50%;
height: 80vh;
background-image: url("pic/female/photo-1533777857889-4be7c70b33f7.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border-radius: 25px;
margin: 100px 60px;
box-shadow: 8px 8px 8px 0 rgb(202, 187, 187);


}
.from{
    width: 50%;
    height: 80vh;
    display: block;
    margin-top: 150px;
    margin-left: 80px;
}
.sendrequest{

    text-decoration: none;
    margin: 10px 0px 0 0;
    padding: 10px 80px 10px 80px;
    background-color: yellowgreen;
    border-radius: 15px;
    background-image: linear-gradient(to left top,yellowgreen,cyan);

}
#bookingtable{
    color: indianred;
}
 h1{
     font-size: 35px;
 }

 /* ....................... sectio 7......//////////////////////////////// */

 .cook5{
     background-image: url("pic/male/pic1.jpg");
     width: 50%;
     height: 25vh;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     border-radius: 25px;
     margin: 100px 60px;
     border: 1px solid snow;
 }

 .cook6{
    background-image: url("pic/male/pic2.jpg");
    width: 50%;
    height: 15vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    margin: 100px 60px;
    border: 1px solid snow;
 }
 .cook5{
    background-image: url("pic/male/pic1.jpg");
    width: 50%;
    height: 15vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    margin: 100px 60px;
    border: 1px solid snow;
}



/* ...............................section 8............ */


.beforefooter{
    display: flex;
    width: 100%;
    height: 20vh;
    box-shadow: 3px 3px 3px 0 gray;

} 
.tube{
    flex-basis: 30%;
    border: hidden;
    text-align: center;
    
}

/* ...................fotter....section 9......... */

.fotter{
    width: 100%;
    height: 20vh;
    text-align: center;
    background-color: greenyellow;
}
.lesspadding{
    padding: 0;
    color: black;
    margin: 15px 0 0 0;
}




/* ..............end the section........... */


