body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}
.navber{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    background-image: linear-gradient(to left,tomato, orange,tomato);
  
}
.manu1 ul li{
    list-style: none;
    display: inline-block;
    margin-right: 35px;
    padding-right: 15px;
   
}
.manu1 ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 25px;
}
.manu1 ul li::after{
    content: " ";
    width: 0;
    background-color:greenyellow; 
    height: 0px;
    display: block;
    margin: auto;
    transition: .5s;

}
.manu1 ul li:hover::after{
    cursor: pointer;
    width: 100%;
    height: 2px;


}